---
title: Projects
template: default.twig
---
<div class="wrapper">

    <h2 class="title-x">Projects.</h2>

    <ul id="work-list">
        <li>
            <a href="/projects/duct">
                <img src="{{ asset('/uploads/projects/duct/logo.png') }}" alt="">
                <h3>Duct</h3>
                <span>Asset management duckwork</span>
            </a>
        </li>
        <li>
            <a href="/projects/skosh">
                <img src="{{ asset('/uploads/projects/skosh/logo.png') }}" alt="">
                <h3>Skosh.</h3>
                <span>Simple static site generator</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-weather">
                <img src="{{ asset('/uploads/projects/laravel-weather/logo.png') }}" alt="">
                <h3>Laravel Weather</h3>
                <span>Weather forecast</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-repository">
                <img src="{{ asset('/uploads/projects/laravel-repository/logo.png') }}" alt="">
                <h3>Laravel Repository</h3>
                <span>Generic repository pattern</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-currency">
                <img src="{{ asset('/uploads/projects/laravel-currency/logo.png') }}" alt="">
                <h3>Laravel Currency</h3>
                <span>Currency functions for Laravel</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-moderate">
                <img src="{{ asset('/uploads/projects/laravel-moderate/logo.png') }}" alt="">
                <h3>Laravel Moderate</h3>
                <span>Moderation system for Laravel</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-promise">
                <img src="{{ asset('/uploads/projects/laravel-promise/logo.png') }}" alt="">
                <h3>Laravel Promise</h3>
                <span>Roles and Permissions</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-geoip">
                <img src="{{ asset('/uploads/projects/laravel-geoip/logo.png') }}" alt="">
                <h3>Laravel Geoip</h3>
                <span>Visitors geographical data</span>
            </a>
        </li>
        <li>
            <a href="/projects/laravel-asana">
                <img src="{{ asset('/uploads/projects/laravel-asana/logo.png') }}" alt="">
                <h3>Laravel Asana</h3>
                <span>Asana API Wrapper for Laravel</span>
            </a>
        </li>
        <li>
            <a href="/projects/lyftenbloggie">
                <img src="{{ asset('/uploads/projects/lyftenbloggie/logo.png') }}" alt="">
                <h3>LyftenBloggie</h3>
                <span>Blogging for Joomla!</span>
            </a>
        </li>
    </ul>

</div>
