<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ isCurrent(page.url, '/') ? '' : page.title~' - ' }}{% endblock %}{{ site.title }}</title>
        <meta name="description" content="{{ metaDesc(page) }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="Wxg7tJp05VnlIn94qbUhmilbQFZKp8iBpyflVrOoAkY" />

        <meta property="og:url" content="{{ page.url }}"/>
        <meta property="og:image" content="{{ ogImage(page, parent, 'assets/images/share-og.png') }}"/>
        <meta property="og:site_name" content="Lyften"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:description" content="{{ metaDesc(page) }}"/>
        <meta property="og:type" content="website">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@lyften">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ metaDesc(page) }}">
        <meta name="twitter:creator" content="@lyften">
        <meta name="twitter:image:src" content="{{ ogImage(page, parent, 'assets/images/share-twitter.png') }}">
        <meta name="twitter:domain" content="lyften.com">

        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 feed" href="{{ site.url }}/rss.xml" />
        <link rel="icon" type="image/x-icon" href="{{ asset('/assets/images/favicon.png') }}" />

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <header>

                    <div class="logo">
                        <a href="{{ url('/') }}">
                            <img src="{{ asset('/assets/images/logo.png') }}" alt="">
                        </a>
                    </div>

                    <div class="mobile-menu">
                        <span class="line"></span>
                    </div>

                    {% include 'main_nav.twig' %}

                </header>

                {% block content %}{% endblock %}

                <footer>
                    <p>
                        Copyright © 2008-2015 Lyften. Built using <a href="{{ url('/projects/skosh') }}">Skosh</a>.
                    </p>
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>

        {% if site.environment != 'local' %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-9029671-1']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
    </body>
</html>