{% extends 'default.twig' %}

{% block title %}{{ parent.title }}::{{ page.title }} - {% endblock %}

{% block content %}
<div id="documentation" class="wrapper">

    <div class="aside">
        <ul>
            {% for post in posts %}
                <li{{ post.url == page.url ? '  class="active"' : '' }}>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <article>
        <div class="breadcrumbs">
            <ul class="name">
                <li>
                    <a class="top-level" href="{{ url('/') }}">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="{{ parent.url }}">
                        {{ parent.title }}
                    </a>
                </li>
                <li>
                    <a href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
            </ul>
        </div>

        <h1>
            {{ editButton(page, parent, 'edit_button.twig') }}
            {{ page.title }}
        </h1>

        {% block content_inner %}{% endblock %}
    </article>
</div>
{% endblock %}
