---
template: default.twig
title: Snowcrew.org
date: 12/18/2014
image: /uploads/portfolio/snowcrew/cover-size-2.png
tags: Branding|Web Application
---
<div class="project-single">
    <div class="row">

        <div class="col-md-5">
            <div class="single-info">

                <div class="project-description">
                    <h1>{{ page.title }}</h1>
                    <span>{{ page.tags }}</span>
                    <p>
                        Snowcrew matches neighbors to neighbors to help shovel out in the next storm. With integration to <a href="http://seeclickfix.com" target="_blank">SeeClickFix</a>, <a href="http://www.weather.gov/" target="_blank">National Weather Service</a>, and various social networks.
                    </p>
                </div>

                <div class="project-services">
                    <ul>
                        <li>
                            <strong>Client:</strong> SeeClickFix
                        </li>
                        <li>
                            <strong>Released:</strong> Jan 01, 2014<br>
                        </li>
                        <li>
                            <strong>Date:</strong> {{ page.date|date("M d, Y") }}
                        </li>
                        <li>
                            <strong>Link:</strong> <a href="http://snowcrew.org" target="_blank">http://snowcrew.org</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-7 project-photos">
            <img src="{{ asset('/uploads/portfolio/snowcrew/hompage.png') }}" alt="Snowcrew Homepage">
        </div>

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-5">
                    <h2>Activity Feed</h2>
                    <p>The feed shows updates from other users in your crew and the request for assistance made by neighbors in need. The feed uses a simple one-to-one relationship pattern to create the connections needed to populate the feed with user content similar to the one used by Twitter.</p>
                </div>
                <div class="col-md-7">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/feed.png') }}" alt="Snowcrew Feed">
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/scout.png') }}" alt="Snowcrew Scout">
                </div>
                <div class="col-md-5">
                    <h2>Scout</h2>
                    <p>Scout offers users a desktop interface to help find users in need of assistance. Geo-boxing is used to get the requests within a specific area, this help keep the request response small which speeds up the parsing of request to place on the map. Powering the mapping I decided to use <a href="http://leafletjs.com/" target="_blank">Leaflet</a> and MapQuest for the tiles. Leaflet is an impressive modern open-source JavaScript library for mobile-friendly interactive maps with a large community of plug-ins. Scout also sports the Live Yetis feature found in the mobile version. This helps show where the Yetis are in your area.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <h2>Settings</h2>
                    <p>This may look like just a simple settings page, but in fact it is the key to setting up the <a href="#nws">Nation Weather Service alerts</a>. Using the country and zip code, Snowcrew is capable of alerting users of urgent weather conditions. The country option was added to help support international users. Alerts for Canada are in the works for the next feature release.</p>
                </div>
                <div class="col-md-7">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/settings.png') }}" alt="Snowcrew Settings">
                </div>
            </div>


            <div class="row">
                <div class="col-md-7">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/social.png') }}" alt="Social connect">
                </div>
                <div class="col-md-5">
                    <h2>Social Networks</h2>
                    <p>Snowcrew now offers the option to auto-post request for assistance to user's Facebook and Twitter accounts, helping to get the word out and increasing the success of getting assistance.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>Mobile Optimized</h2>
                    <p>I opted to create a mobile only version of Snowcrew and not a responsive version. This helps with loading on mobile devices when the user is in the field.</p>
                    <p>Also the use case is different, mobile is optimized for people who are looking to provide assistance. This is also where the Live Yetis come into play. User's are able to see where other Yetis are, there is speed in numbers.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/mobile.png') }}" alt="Snowcrew Mobile">
                </div>
            </div>

            <h2 id="nws">National Weather Service Integration</h2>

            <p>On December 18th, 2014 I released a version of Snowcrew that integrated into the Nation Weather Service. With this integration Snowcrew is now able to email user's about severe weather conditions by pulling all weather alerts within the United Stats and matching these alerts to user's zip codes.</p>

            <img src="{{ asset('/uploads/portfolio/snowcrew/admin-nsw.png') }}" alt="National Weather Service Integration">

            <p>The system administration part of Snowcrew offers the ability to custimze which National Weather Service alert is sent out. Each alert type has an accompanying log showing when and how many alerts were sent out (not shown).</p>

            <img src="{{ asset('/uploads/portfolio/snowcrew/admin-zip-codes.png') }}" alt="Zip Codes">

            <p>With over 960,000 zip codes in the database and growing, Snowcrew can match a user's zip code to the correct National Weather Service zone ID. Each zip code has a longitude and latitude attached to it, this is used with <a href="/projects/laravel-weather/">Laravel Weather</a> to show the five day forecast on the feed page.</p>

            <div class="row">
                <div class="col-md-7">
                    <h2>T-Shirt</h2>
                    <p>With such a large demand for Yeti merchandise, the Yeti Snowcrew t-shirt was born. The are plans in the works to create events and competition to win one for free. But you can also just order one.</p>

                    <a href="http://www.ooshirts.com/designapp/sharing/1240592994" target="_blank" class="btn blue">Order yours</a>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('/uploads/portfolio/snowcrew/t-shirt.png') }}" alt="Snowcrew T-Shirt">
                </div>
            </div>

        </div>

    </div>
</div>
