<article class="blog-item">

    <div class="media">
        <a href="{{ post.url }}">
            <figure>
                <img src="{{ post.image.thumb }}" alt="{{ post.title }}">
            </figure>
        </a>
        {#<a class="button" href="#s">#}
            {#<span class="icon-resize-full" aria-hidden="true"></span>#}
        {#</a>#}
    </div>

    <div class="content">

        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

        <div class="separator"></div>

        <div class="desc">
            {{ post.excerpt|striptags('<a>')|raw }}
        </div>

        <div class="meta clearfix">

            <div class="social-share fr">
                <a href="{{ share_link("facebook", post) }}" class="icon-facebook" data-share="facebook"></a>
                <a href="{{ share_link("twitter", post) }}" class="icon-twitter" data-share="twitter"></a>
                <a href="{{ share_link("google", post) }}" class="icon-gplus" data-share="google"></a>
            </div>

            <div >
                <span class="icon-calendar" aria-hidden="true"></span><p>{{ post.date|date("F m, Y") }}</span>
            </div>

        </div>
    </div>

</article>
