<nav>
    <ul>
        <li{{ isCurrent(page.url, '/|/projects*') ? ' class="active"' : '' }}>
            <a href="{{ url('/') }}">
                Projects
            </a>
        </li>
        {#<li{{ isCurrent(page.url, '/projects/*') ? ' class="active"' : '' }}>#}
            {#<a href="{{ url('/projects') }}">#}
                {#Projects#}
            {#</a>#}
        {#</li>#}
        <li{{ isCurrent(page.url, '/journal*') ? ' class="active"' : '' }}>
            <a href="{{ url('/journal') }}">
                Journal
            </a>
        </li>
        <li{{ isCurrent(page.url, '/portfolio*') ? ' class="active"' : '' }}>
            <a href="{{ url('/portfolio') }}">
                Portfolio
            </a>
        </li>
        {#<li{{ isCurrent(page.url, '/about') ? ' class="active"' : '' }}>#}
            {#<a href="{{ url('/about') }}">#}
                {#About#}
            {#</a>#}
        {#</li>#}
        <li>
            <a href="https://github.com/Torann" class="icon icon-github"></a>
            <a href="http://www.facebook.com/daniel.stainback" class="icon icon-facebook"></a>
            <a href="http://twitter.com/lyften" class="icon icon-twitter"></a>
            <a href="https://www.linkedin.com/in/lyften" class="icon icon-linkedin"></a>
        </li>
    </ul>
</nav>