<div class="col-md-4 col-sm-6 col-xs-12 {{ tag_class }}">
    <a href="{{ url }}">
        <span class="item">
            <div class="overlay">
                <div class="inner-overlay">
                    <h3>{{ title }}</h3>
                    <span>{{ tags }}</span>
                </div>
            </div>
            <img src="{{ image }}" alt="">
        </span>
    </a>
</div>