<div class="col-md-3 col-sm-5 col-xs-12">
    <a href="{{ url }}">
        <span class="item">
            <img src="{{ asset(image) }}" alt="{{ title }}">

            <h3>{{ title }}</h3>
            <span>{{ description }}</span>
        </span>
    </a>
</div>