---
title: Journal
template: default.twig
paginate: true
---
<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h1><b>Journal.</b><br>Random thoughts and code snippets.</h1>
        </div>
    </div>
</div>

<div class="blog">
    <div class="row">
        <div class="blog-content masonry-container">

            {% for post in posts %}
            <div class="blog-post col-md-6 col-sm-6 col-xs-12">

                <div class="blog-img">
                    <a href="{{ post.url }}">
                        <img src="{{ post.image.full }}" alt="{{ post.title }}">
                    </a>
                </div>

                <div class="blog-info">
                    <h2>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <ul class="post-info">
                        <li>by <a href="#"> {{ post.author }}</a></li>
                        <li>posted <a href="#"> {{ post.date|date("F m, Y") }}</a></li>
                    </ul>
                    <p>{{ post.excerpt|striptags('<a>')|raw }}</p>

                    <a href="{{ post.url }}" class="button">
                        Read More
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% if(pagination.total_pages > 1) %}
    <div class="row">
        <div class="col-md-12">
            <div class="pagination">
                <a href="{{ pagination.prev }}" class="icon-left-open"{{ pagination.prev == null ? ' disabled="disabled"' : '' }}></a>
                <span>{{ pagination.page }} of {{ pagination.total_pages }}</span>
                <a href="{{ pagination.next }}" class="icon-right-open"{{ pagination.next == null ? ' disabled="disabled"' : '' }}></a>
            </div>
        </div>
    </div>
    {% endif %}
</div>