---
title: Lyften.com
description: Freelance graphic designs and web development based in Connecticut. Specializing in PHP, MySQL, XHTML/CSS, and Javascript.
template: default.twig
paginate: true
---
<div class="blog-container masonry">

    <div class="grid-sizer"></div>

    {% for post in posts %}
        {% include 'blog_post.twig' with {'post': post} %}
    {% endfor %}
</div>

{% if(pagination.total_pages > 1) %}
<div class="pagination">
    <a href="{{ pagination.prev }}" class="icon-left-open"{{ pagination.prev == null ? ' disabled="disabled"' : '' }}></a>
    <span>{{ pagination.page }} of {{ pagination.total_pages }}</span>
    <a href="{{ pagination.next }}" class="icon-right-open"{{ pagination.next == null ? ' disabled="disabled"' : '' }}></a>
</div>
{% endif %}